.hero {
  align-items: center;
  @media (min-width: 769px) {
    background-image: url("../public/assets/Mobile_app_background.png");
    img {
      height: fit-content;
      max-width: 300px;
    }
  }
}
